*.info
*.kate-swp
*.log
*~
.*.swp
.*_cache/
.DS_Store*
.claude/settings.local.json
.coverage
.cspellcache
.directory
.pnp.*
/.yarn/install-state.gz
/CMakeUserPresets.json
/build/
/dist/
/vcpkg_installed/
node_modules/
