*.1
*.c
*.cpp
*.h
*.in
*.info
*.j2
*.jsonnet
*.kate-swp
*.libjsonnet
*.lock
*.log
*~
.*.swp
.*_cache/
.coverage
.cspellcache
.directory
.pnp.*
/.yarn/**/*.cjs
/.yarn/install-state.gz
/CMakeUserPresets.json
/build/
/dist/
/docs/_build/
/man/_static/
/vcpkg_installed/
__pycache__/
htmlcov/
node_modules/
