---
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies (Yarn)
        run: yarn
      - name: Check spelling
        run: yarn check-spelling
      - name: Check formatting
        run: yarn check-formatting
name: QA
'on':
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
